.container{
    height:550px;
    margin-top: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.headline{
    color: black;
    font-family:'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    width: 45%;

}
.form{
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
    margin: 15px;
    width: 45%;
    border: 1px solid #101522;
    border-radius:4px;

}
.head{
color: rgb(0, 0, 0);
display: flex;
justify-content: center;
font-size: 35px;
margin: 28px 0;
font-weight:bold;
}
.inp{
    height: 35px;
    width: 90%;
    margin: 15px;
    border-radius: 5px;
    border:1px solid black;
    padding: 18px;
    text-align: start;
    font-size: 17px;
}
.namein{
    width: 290px;
}
.img{
    height:500px;
    border-radius: 4px;
}
.butt{
    margin: 25px;
    width: 30%;
    height: 60px;
    background-color: #101522;
    color:white;
    border-radius:5px;
    border: none;
    font-size: 20px;

}
.button{
    display: flex;
    justify-content: center;
}
textarea{
    max-width: 615px;
    max-height: 80px;
}
